.job_experiences_section {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.job_experiences_section h2 {
  text-align: center;
}

.job_experiences_card,
.job_experiences_list {
  display: flex;
  flex-direction: column;
}

.job_experiences_card {
  gap: 2rem;
}

.job_experiences_list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media screen and (max-width: 750px) {
  .job_experiences_section {
    gap: 19px;
  }
}


@media screen and (max-width: 500px) {
  .job_experiences_section {
    width: 95%;
    margin: auto;
  }
}