* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	font-family: Menlo Regular;
}

h2 {
	font-size: 22px;
}


h3 {
	font-size: 20px;
}

.nerd-fonts {
	font-family: NerdFontsSymbols Nerd Font;
}

.very-small {
	font-size: 13px;
}

.flex-small-gap {
	display: flex;
	flex-direction: row;
	gap: 2px;
	align-items: center;
}

/*  https://stackoverflow.com/a/45890842 */
button,
input[type="submit"],
input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* https://gist.github.com/adamblank/7896758 */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track-piece {
	background-color: #FFF;
}

::-webkit-scrollbar-thumb {
	background-color: #CBCBCB;
	outline: 2px solid #FFF;
	outline-offset: -2px;
	border: .1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #909090;
}

/* https://stackoverflow.com/a/968922 */
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

@font-face {
	font-family: 'Menlo Regular';
	src: url('/Menlo-Regular.woff');
}

@font-face {
	font-family: 'FiraCode Medium';
	src: url('/FiraCode-Medium.woff2');
}

@font-face {
	font-family: 'FiraCode Regular';
	src: url('/FiraCode-Regular.woff2');
}

@font-face {
	font-family: 'NerdFontsSymbols Nerd Font';
	src: url('/NerdFontsSymbols-Nerd-Font.woff2') format("woff2");
}

@keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(6px);
	}
}