html,
body {
	font-family: Menlo Regular;

	/*
  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif
  */
}

@font-face {
	font-family: 'Menlo Regular';
	src: url('/Menlo-Regular.woff');
}

@font-face {
	font-family: 'FiraCode Medium';
	src: url('/FiraCode-Medium.woff2');
}

@font-face {
	font-family: 'FiraCode Regular';
	src: url('/FiraCode-Regular.woff2');
}

h3 {
	font-size: 23px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(6px);
	}
}
