.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;

	padding: 11px 13px;
	border-radius: 5px;

	border: 1px solid rgba(16, 4, 28, 0.6);
}

.copy_to_clipboard {
	font-family: NerdFontsSymbols Nerd Font;
}

.arrow_right {
	color: #ababab;
}

.copy_to_clipboard {
	filter: brightness(80%);
	color: #000000d3;
}

.copy_to_clipboard:hover {
	cursor: pointer;
	filter: brightness(100%);
}

.text {
	color: rgba(22, 21, 21, 0.89);
	font-family: FiraCode Regular;
	font-weight: lighter;
}