/* .container {
	padding: 0 2rem;
} */

.main {
	width: 50%;
	overflow: hidden;
	margin: auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 6rem;

	margin-bottom: 5rem;
}

.footer {
	display: flex;
	flex-direction: row;
	gap: 2rem;

	padding-bottom: 0.5rem;
}


@media screen and (max-width:1300px) {
	.main {
		width: 70%;
	}
}

@media screen and (max-width:1000px) {
	.main {
		width: 90%;
	}
}

@media screen and (max-width:500px) {
	.main {
		width: unset;
	}
}