.presentation {
    /* margin-top: 2rem; */
    width: 30rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.whoami {
    margin-top: 1.5rem;
}

.social_media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    list-style: none;
}

.scroll_down {
    margin-top: 1rem;
}

@media screen and (max-width:500px) {
    .social_media {
        gap: 10px;
    }
}