.card {
	-webkit-user-select: none;
	align-items: center;
	align-self: normal;
	border-radius: 10px;
	border: #bac4c7 solid 1px;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	justify-self: normal;
	max-width: 25rem;
	padding: 10px;
	text-decoration: none;
	user-select: none;
}

.card:hover {
	cursor: pointer;
	transition: color 0.15s ease, border-color 0.15s ease;
}

.updatedAt {
	color: rgb(115, 121, 124);
}

.title_imageContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2px;
}

.title_updatedAtContainer {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 10px 15px;
}

.title {
	font-size: 20px;
	display: unset;
}

.description {
	text-indent: 0.3rem;
	margin: 10px;
}

@media (max-width: 1050px) {
	.title_updatedAtContainer {
		flex-direction: column;
	}
}

@media (max-width: 700px) {
	.updatedAt {
		font-size: calc(100% - 2px);
	}
}
