.internal_link {
  text-decoration: none;
  position: relative;
  color: #000;
}

.internal_link:hover {
  text-decoration: underline;
}

.internal_link:hover:after {
  position: absolute;
  right: -23px;
  top: 3.5px;

  font-family: var(--nerd-fonts-symbols);
  font-size: 18px;
  content: '󰌹';
}