.game_board_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.game_board_card {
  position: relative;
  margin: auto;
  border-style: solid;
  overflow: hidden;
}

.chunk {
  position: absolute;
}

.game_board_controls {
  margin: auto;
  text-align: center;
  color: #51597d;
  font-size: 15px;
}


.game_board_controls>b {
  font-weight: normal;
  opacity: 0.8;
  text-decoration: underline;
}

.game_board_controls>span {
  opacity: 0.5;
}