* {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: 'Rubik';
	src: url('./assets/Rubik-Regular.ttf');
	font-display: fallback;
}

body {
	font-family: 'Rubik', sans-serif;
	background-color: #24292f;
	color: #ededed;
}

main {
	width: 80%;
	margin: 8rem 0 0 10%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 5rem;
}

main h1 {
	font-size: 45px;
}

main p {
	max-width: 45rem;
	font-size: 20px;
}

main #refs-bar {
	display: flex;
	flex-direction: row;
	gap: 20px;
	max-width: min-content;
}

main #refs-bar .ref {
	background-color: #ededed;
	color: #000;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 4px 15px;
	gap: 5px;
	border-radius: 5px;
	text-decoration: none;
	margin-top: 15px;
}

main #refs-bar .ref:hover {
	color: #ededed;
	background-color: #39414a;
	transition: all 300ms linear;
}

@media (min-width: 1000px) {
	main p {
		max-width: 55rem;
	}
}

@media (max-width: 680px) {
	main #refs-bar {
		flex-direction: column;
		max-width: 70%;
		margin: inherit;
		margin-top: 35px;
	}
}

.highlighted {
	font-size: 17px;
	padding: 2px 5px;
	background: #39414a;
	border-radius: 5px;
}

.underline {
	text-decoration: underline;
}
