---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Link from '../components/Link.astro'

const links = [
	{
		href: 'https://github.com/luisnquin',
		label: 'GitHub',
		imagePath: '/github-512x512.png',
		brandColor: '#333333',
	},
	{
		href: 'https://gitlab.com/luisnquin',
		label: 'GitLab',
		imagePath: '/gitlab-512x512.png',
		brandColor: '#7759C2',
	},
	{
		href: 'https://www.linkedin.com/in/luisnquin',
		label: 'LinkedIn',
		imagePath: '/linkedin-512x512.png',
		brandColor: '#0077B5',
	},
]
---

<Layout title="Tree">
	<div id="container">
		<main>
			<div id="card">
				<img
					id="avatar"
					src="https://www.gravatar.com/avatar/3d355f279723b8e0d45217537041f592.png?s=250"
				/>
				<section id="links">
					{links.map((item) => <Link {...item} />)}
				</section>
			</div>
		</main>
	</div>
</Layout>

<style>
	* {
		color: #eceaea;
	}

	body,
	html {
		height: 100%;
		margin: 0;
	}

	#container {
		background-image: url('/background.jpg');
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#card {
		text-align: center;
		background-color: #1b1a1c;
		opacity: 0.8;
		padding: 1.5rem;
		border-radius: 8px;

		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	#card h1 {
		font-size: 2rem;
		font-weight: 800;
		margin: 0;
	}

	#card #avatar {
		border-radius: 0.4rem;
	}

	#links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
	}
</style>
