---
export interface Props {
	title: string
}

import { Tooltips } from 'astro-tooltips'

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<Tooltips interactive={false} delay={[350, 15]} />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<style is:global>
			:root {
				--accent: 124, 58, 237;
				--accent-gradient: linear-gradient(
					45deg,
					rgb(var(--accent)),
					#da62c4 30%,
					white 60%
				);
			}

			.tippy-box[data-theme='default'] {
				border: 1px solid rgba(99, 98, 98, 0.25);
			}

			html {
				font-family: system-ui, sans-serif;
				background-color: #f6f6f6;
			}

			code {
				font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
					DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
					monospace;
			}
		</style>
	</body>
</html>
