---
export interface Props {
	href: string
	label: string
	imagePath: string
	brandColor: string
}

const { href, label, brandColor, imagePath } = Astro.props
---

<a
	class="link"
	href={href}
	target="_blank"
	title="Ninym"
	data-tooltip-placement="bottom"><img src={imagePath} /> {label}</a
>

<style define:vars={{ brandColor }}>
	:root {
		--white: #f7f7f7;
		--black: #333333;
	}

	.link {
		padding: 5px 6px;
		border-radius: 3px;
		color: var(--white);
		border: 1px solid rgba(76, 61, 82, 25%);
		text-decoration: none;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
			0 2px 4px -2px rgba(0, 0, 0, 0.1);
		opacity: 0.9;
	}

	.link:hover {
		cursor: pointer;
		background-color: var(--white);
		color: var(--black);
		animation: fade 0.5s forwards;
	}

	.link img {
		position: relative;
		top: 4px;
		width: 20px;
	}

	@keyframes fade {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 0.4;
		}
	}
</style>
